
.container {
    display: flex;
}

.box1 {
    border: 1px solid green;
    flex: 1;
    height: 200px;
    display: flex;
    justify-content: center;
}
.box2 {
    border: 1px solid green;
    flex: 2;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.box3 {
    border: 1px solid green;
    flex: 1;
    height: 200px;
    display: flex;
    justify-content: center;
}